.app {
  background-color: #e1f2d5;
  display: flex;
  flex-flow: column nowrap;
  max-height: max-content;

  /* height: 100vh; */
  min-height: 100vh;
  width: 100%;
}

.header-container {
  align-items: center;
  background-color: #034422;
  display: flex;
  flex-flow: row nowrap;
  height: 100px;
  justify-content: space-around;
  width: 100%;
}

.header-container img {
  width: 200px;
}

.header-title {
  color: white;
  font-size: 2.5rem;
}

label {
  color: #3d495c;
  display: flex;
  flex-flow: column nowrap;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 10px auto;
  margin-right: 20px;
  width: 350px;

}

label input {
  align-self: flex-start;
  border: 1px solid gray;
  border-radius: 10px;
  font-size: 1rem;
  margin: 10px;
  padding: 5px;
}

.column input, textarea {
  margin-left: 0;
}

select {
  border: none;
  border-bottom: 1px solid #3d495c;
  font-size: 1rem;
  margin-top: 10px;
  padding: 5px;
}

.container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 10px black;
  display: flex;
  margin: auto;
  padding: 20px;
  width: 80%;
}

button {
  background-color: #239725;
  border: none;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.37);
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 10px;
  padding: 10px 20px;
}

button:hover {
  background-color: #13c816b9;
}

button:disabled {
  background-color: #ccc;
  border: 1px solid #999;
  color: #666;
}

main {
  align-items: flex-start;
  display: flex;
  justify-content: center;

  /* height: 100vh; */

  /* min-height: 100vh; */
  max-height: max-content;
  width: 100%;

  /* background-color: red; */
}

section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 50px;
}

li {
  list-style: none;
  margin: 20px;
}

.d-flex {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.main-card {
  border: 1px solid black;
  height: 50vh;
  width: 25%;
}

.name-card {
  background-color: #239725;
  margin-top: 0;
  padding: 5px 0;
  text-align: center;
  width: 100%;
}

.image-card {
  width: 70%;
}
